@import 'variables';

//BUTTONS
.button,
button {
  line-height: 1;
  padding: 1rem 2rem;
  color: $main-text;
  text-decoration: none;
  border: none;
  border-radius: 0.5rem;
  display: inline-block;

  font-size: 1.6rem;
  font-weight: 400;
}

//HAMBURGER MENU
.h-menu {
  display: none;
  z-index: 30;
  & span {
    transform-origin: 3px 1px;
    transition: all 0.2s;
  }

  &.open {
    > span:first-child {
      transform: rotate(45deg);
    }

    > span:nth-child(2) {
      opacity: 0;
    }

    > span:last-child {
      transform: rotate(-45deg);
    }
  }

  &__line {
    display: block;
    width: 3rem;
    height: 2px;
    background-color: $white;

    &:not(:last-child) {
      margin-bottom: 0.6rem;
    }
  }
}

@media (max-width: 768px) {
  .h-menu {
    display: block;
  }
}

//SIDE NAV
.side-nav {
  & a {
    color: $grey-light;
    font-weight: 300;
  }

  transform: translateX(100%);
  z-index: 24;
  position: fixed;
  top: 0;
  right: 0;
  padding: 2rem;

  width: 80vw;
  height: 100vh;
  background-color: $grey-dark;

  transition: all 0.2s;

  &.open {
    transform: translateX(0);
  }

  &__list {
    position: absolute;
    top: 15rem;
    display: flex;
    flex-direction: column;

    & li {
      &::after {
        content: '';
        display: block;
        width: 60rem;
        height: 1px;
        background-color: $grey-light;
        margin-top: 2rem;
        opacity: 0.1;
      }
      margin-bottom: 3rem;
    }
  }
}

.blur {
  &.open {
    transition: all 0.1s;
    backdrop-filter: blur(14px);
  }
  z-index: 23;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
}
