//Colors
$main-col: #0039b3;
$sec-col: #8e51ff;
$white: white;
$main-text: rgb(73, 73, 73);
$grey-dark: rgb(24, 24, 24);
$grey-dark-l: rgb(49, 49, 49);
$grey-medium: #757575;
$grey-light: #dbdbdb;
$grey-light-2: #ebebeb;
